<table class="product-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Categoría</th>
    
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productTable.data">
      <td>{{ product.id }}</td>
      <td>{{ product.nombre }}</td>
      <td>{{ product.descripcion }}</td>
      <td>{{ product.categoria }}</td>
      <td>$ {{ product.precio.toFixed(2) }}</td>
      <td>
        <button nz-button class="delete" (click)="deleteProduct(product.id)">Eliminar</button>
        <button nz-button class="update" (click)="updateProduct(product.id)">Actualizar</button>
        <button nz-button class="add-to-cart" (click)="addToCart(product.id)">Agregar al carrito</button>
      </td>
    </tr>
  </tbody>
</table>

<button nz-button class="add-product-button" (click)="addProduct()">Agregar Producto</button>